@import 'variable';
@import 'mixin';

.checkup-plan-single {
    .cont {
        @include cont();

        .btn-group {
            display: flex;
            gap: 40px;
            flex-direction: row;
            flex-wrap: wrap;
            .btn {
                @include btn($color: $text-w, $bg: $primary, $bg-h: #94A17F, $border-h: #94A17F);
                border-radius: 4px;
                align-items: center;
                justify-content: center;
                padding: 11px 15px;
                font-size: 18px;
                min-width: 161px;
                @include lg() {
                    min-width: auto;
                }
                &.booking-btn {
                    
                }
                &.compare-btn {
                    color: $primary;
                    background-color: $text-w;
                    font-weight: 400;
                    &:hover {
                        color: $text-w;
                        background-color: $primary;
                      }
                }
            }
        }
    }
    // .breadcrumbs {
    //     @include bgGradient($bg);
    //     @include bgGradient(to left, rgba($bg, 0) 0%, $bg 100%);
    //     .cont {
    //         padding-top: 21px;
    //         padding-bottom: 21px;
    //         display: flex;
    //         align-items: center;
    //         flex-wrap: wrap;
    //         gap: 24px;
    //         font-size: 18px;
    //         @include sm() {
    //             gap: 6px 12px;
    //             .back-btn {
    //                 width: 100%;
    //             }
    //         }
    //         .line {
    //             border-right: 1px solid $text-4;
    //             height: 13px;
    //             @include sm() {
    //                 opacity: 0;
    //                 margin-right: 13px;
    //             }
    //         }
    //     }
    // }
    
    .checkup-plan-single-header {
        .cont {
            display: flex;
            gap: 80px;
            padding-top: 80px;
            padding-bottom: 64px;
            @include ml() {
                flex-direction: column;
            }
            .info {
                width: 100%;
                padding: 48px 0 0 0;
                @include ml() {
                    padding-top: 0;
                }
                .plan-name {
                    color: $primary;
                }
                .gender {
                    display: flex;
                    @include sm() {
                        flex-direction: column;
                        gap: 10px;
                    }
                    .item {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        @include sm() {
                            width: 100%;
                        }
                        > span {
                            font-size: 20px;
                            color: $text-4;
                            font-weight: 600;
                        }
                        > strong {
                            font-size: 24px;
                            color: $text-2;
                            font-weight: 600;
                        }
                    }
                }
                .tags {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 32px;
                    margin-top: 32px;
                    .tag {
                        @include btn($color: $text-4, $bg: $accent, $bg-h: rgba($accent, 0.8), $border: 0px, $border-h: 0px, $color-h: $text-4);
                        border-radius: 4px;
                        font-size: 18px;
                        font-weight: 600;
                        padding: 6px 19px;
                    }
                }
                .suitable {
                    border-top: 1px solid #BEBEBE;
                    border-bottom: 1px solid #BEBEBE;
                    padding-top: 48px;
                    padding-bottom: 48px;
                    margin-top: 40px;
                    margin-bottom: 40px;
                    .title {
                        color: $text-4;
                        margin-bottom: 10px;
                    }
                    .desc {

                    }
                }
            }
            .img {
                width: 480px;
                margin-left: 40px;
                flex-shrink: 0;
                display: flex;
                justify-content: flex-end;
                // box-shadow: -40px 64px 0px  $accent;
                position: relative;
                @include xl() {
                    width: 45%;
                }
                @include ml() {
                    width: 440px;
                    max-width: calc(100% - 40px);
                }
                .img-warp {
                    width: 100%;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    @include ml() {
                        padding-top: calc(560 / 480 * 100%);
                    }
                    &::before {
                        content: '';
                        background-color: $accent;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: -1;
                        bottom: -64px;
                        left: -40px;
                    }
                    img {
                        box-shadow: -2px 5px 8px 0 rgba(#000, 0.15);
                    }
                }
            }
            .image-block {
                position: relative;
                width: fit-content;
                display: inline-block;
                &::before {
                  content: "";
                  position: absolute;
                  left: -20px;
                  bottom: -20px;
                  width: 100%;
                  height: 100%;
                  background-color: #e6d9c6;
                  z-index: 0;
                  border-radius: 4px;
                }
                img {
                  display: block;
                  width: 100%;
                  height: auto;
                  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
                  position: relative;
                  z-index: 1;
                  border-radius: 4px;
                }
              }
              
        }
    }
    .checkup-plan-single-cont {

    }
    .checkup-plan-single-instrument {
        .cont {
            padding-top: 0;
        }
        .list {
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 80px;
            .item {
                display: flex;
                @include md() {
                    flex-direction: column;
                }
                .img, .info {
                    width: 50%;
                    @include md() {
                        width: 100%;
                    }
                }
                .img {
                    @include md() {
                        margin-bottom: 20px;
                    }
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 64px;
                    gap: 24px;
                    @include md() {
                        padding-left: 0;
                    }
                    .title {
                        @include word-count(2);
                        color: $text-2;
                        margin-bottom: 0;
                        line-height: 1.8;
                    }
                    .desc {
                        @include word-count(3);
                        color: $text-4;
                    }
                }
            }
        }
    }
    .checkup-plan-single-details {
        .cont {
            padding-top: 0;
            @media (min-width: $xxl) {
                padding-right: 0px;
            }
        }
        .title-wrapper {
            margin-bottom: 30px;
            .title {
                color: $text-4;
                margin-bottom: 15px;
            }
            .item {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 15px;
                gap: 16px;
                .item-title {
                    margin-bottom: 0;
                    @include md() {
                        width: 100%;
                    }
                }
                .item-sub {
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    @include md() {
                        font-size: 14px;
                    }
                }
            }
        }
        table {
            width: 100%;
            table-layout: fixed;
        
            tbody {
                .circle {
                    width: 8px;
                    height: 8px;
                }
            }
            th,
            td {
                word-wrap: break-word;
        
                &:first-of-type {
                    width: 30%;
                }
        
                &:nth-of-type(2) {
                    width: auto;
                    @include md() {
                    }
                }
        
                &:nth-of-type(3) {
                    width: 10%;
                    @include md() {
                        font-size: 0;
                        width: 30px;
                        padding: 8px;
                    }
                }
            }
            th {
                &:nth-of-type(2) {
                    @include md() {
                        border-right-color: $primary;
                    }
                }
            }
            td {
                &.icon {
                }
            }
            .plan_term_name {
                width: auto;
                max-width: none;
                color: $text-w;
                background-color: #9BA787;
                padding: 8px 16px;
            }
        }
        
    }
    .checkup-plan-single-popular-add {
        .cont {
            padding-top: 0;
            @media (min-width: $xxl) {
                padding-right: 0px;
            }
        }
        .desc {
            margin-bottom: 48px;
        }
    }
    .checkup-plan-single-precautions {
        .cont {
            padding-top: 0;
            display: flex;
            align-items: center;
            @media (min-width: $xxl) {
                padding-right: 0px;
            }
            @include md() {
                flex-direction: column;
            }
            .left, .right {
                width: 50%;
                @include md() {
                    width: 100%;
                }
            }
            .left {
                display: flex;
                flex-direction: column;
                gap: 40px;
                padding: 0 40px 64px 40px;
                @include md() {
                    padding: 0 20px 64px 20px;
                }
            }
            .right {
                border: 1px solid #DCDCDC;
                border-radius: 8px;
                padding: 0 40px 40px 40px;
                display: flex;
                flex-wrap: wrap;
                box-shadow: 2px 5px 8px 0 rgba(#000, 0.03);
                @include bgGradient(to left top, rgba($bg, 0.37) 0%,rgba($bg, 0) 100%);
                @include md() {
                    padding: 0 20px 30px 20px;
                }
                .title {
                    color: $text-2;
                    font-weight: 600;
                    margin-top: -22px;
                    margin-left: -24px;
                    margin-bottom: 30px;
                    padding: 0 24px;
                    background-color: #FEFEFE;
                    display: block;
                }
                .desc {
                    width: 100%;
                    color: $text-3;
                    ul, ol {
                        list-style: none; 
                        position: relative;
                        margin: 0;
                        padding-left: 0;
                        padding-left: 30px;
                        display: flex;
                        flex-direction: column;
                        gap: 32px;
                        li {
                            position: relative;
                            text-indent: 0;
                            text-indent: -25px;
                            &::before {
                                content: '';
                                color: $primary; 
                                font-size: 1em;
                                
                            }
                        }
                    }
                    ul {
                        li::before {
                            font-size: 2em;
                            width: 8px;
                            height: 8px;
                            display: inline-block;
                            border-radius: 100%;
                            background-color: $primary;
                            margin-bottom: 3px;
                            margin-right: 16px;
                        }
                    }
                    
                    ol {
                        counter-reset: custom-counter;
                        li::before {
                            counter-increment: custom-counter;
                            content: counter(custom-counter) '.';
                            font-size: 1em;
                            margin-right: 5px;
                            color: $primary;
                        }
                    }
                }
            }
        }
        
    }
    .checkup-plan-single-plans {
        background-image: url(../img/plans_bg.jpg);
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        border-top: 1px solid #BEBEBE;
        .cont {
            // padding-top: 0;
            @media (min-width: $xxl) {
                padding-right: 0px;
                padding-left: 0px;
            }
            .title {
                font-weight: 600;
                color: $text-2;
                margin-bottom: 40px;
                padding: 0 40px;
                @include md() {
                    padding: 0 24px;
                }
            }
            .list {
                .plan {
                    .title {
                        padding-left: 0;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

.single-checkup-plan-footer {
    > .e-con-inner > .elementor-element {
        @media (min-width: $xxl) {
            padding-right: 0px;
        }
    }
}


