@import 'variable';
@import 'mixin';

// 部位檢索 - 左邊搜尋、部位列表
$gap: (
  default: 40px,
  md: 30px
);
.parts-search-cont {
    position: relative;
    .parts-search-form,.part-warp {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 64px;
        margin-bottom: 0;
        @include md() {
            gap: 32px;
        }
        .part, .item  {
            display: flex;
            align-items: center;
            gap: map-get($gap, default);
            background-color: $text-w;
            border-radius: 8px;
            box-shadow: 2px 2px 5px 0 rgba(#000, 0.1);
            padding: 22px map-get($gap, default);
            position: relative;
            @include md() {
                gap: map-get($gap, md);
                padding: 22px map-get($gap, md);
            }
            &::before {
                content: '';
                width: 8px;
                height: 48px;
                border-radius: 8px;
                background-color: #B0BF98;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(-50%, -50%);
                box-shadow: 2px 0 5px 0 rgba(#000, 0.1);
            }
            .part_title {
                color: $text;
                font-weight: 500;
                margin: 0;
                flex-shrink: 0;
            }
        }
    }
    .parts-search-form {
        .item {
            .wpcf7-form-control-wrap {
                border-left: 1px solid $text;
                .wpcf7-form-control {
                    display: flex;
                    flex-direction: column;
                    padding-left: map-get($gap, default);
                    @include md() {
                        padding-left: map-get($gap, md);
                    }
                }
            }
            
        }
    }
    .part-warp {
        .part  {
            align-items: stretch;
            .part_title { 
                display: flex;
                align-items: center;
                gap: map-get($gap, default);
                @include md() {
                    flex-direction: column;
                    align-items: start;
                    gap: 10px;
                }
            }
            .part_tag {
                display: none;
            }
            .part-arrow {
                position: relative;
                border-left: 1px solid $text;
                padding-left: map-get($gap, default);
                display: flex;
                justify-content: center;
                align-items: center;
                @include md() {
                    padding-left: map-get($gap, md);
                }
                &::before {
                    content: '';
                    width: 8px;
                    height: 8px;
                    transform: rotate(45deg);
                    border-top: 2px solid $text;
                    border-right: 2px solid $text;
                }
            }
            &.suggested {
                &::before {
                    background-color: $second;
                }
                .part_tag {
                    display: block;
                    border-radius: 4px;
                    font-size: 16px;
                    color: $text-w;
                    background-color: $second;
                    padding: 6px 14px;
                }
            }
        }
    }
      
}

// 部位檢索 - 右邊顯示內容
.part-preview-cont {
    > .elementor-widget-shortcode {
        position: sticky;
        top: 91px;
    }
    .part-preview {
        height: calc(100vh - 91px);
        display: flex;
        align-items: center;
        padding-top: 40px;
        .preview-info, .preview-img {
            width: 50%;
        }
        .preview-info {
            display: flex;
            flex-wrap: wrap;
            * {
                display: none !important;
            }
            &.show {
                * {
                    display: flex !important;
                }
            }
            .preview-title {
                color: $text-2;
                font-weight: 500;
                margin-bottom: 15px;
            }
            .preview-excerpt {
                color: $text-4;
                font-size: 18px;
                margin-bottom: 30px;
                width: 100%;
            }
            .preview-btn {
                @include btn($color: $text-w, $bg: $primary, $bg-h: #94A17F, $border: 0px, $border-h: 0px);
                border-radius: 4px;
                font-size: 16px;
                padding: 12px 22px;
            }
        }
        .preview-img {
            img {
                filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.08));
                display: none;
                &.show {
                    display: block;
                }
            }
        }
    }
}




// 部位檢索 - 內頁
.checkup-body-parts-single {
    .cont {
        @include cont();
        

        
    }
    

    .checkup-body-parts-singles-header {
        > .cont {
            display: flex;
            gap: 120px;
            padding-top: 80px;
            padding-bottom: 64px;
            @media (min-width: $xxl) {
                padding-right: 0px;
                padding-left: 0px;
            }
            @include lg() {
                gap: 40px;
            }
            @include ml() {
                flex-direction: column;
            }
            @include md() {
                padding-bottom: 0px;
            }
            
            .info {
                width: 100%;
                padding: 0;
                .cont {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    padding: 0 40px;
                    @include md() {
                        padding: 0 24px;
                    }
                }
                @include ml() {
                    padding-top: 0;
                }
                .title {
                    color: $text-2;
                    margin: 0;
                }
                .suggestion {
                    margin-top: 60px;
                    .warp {
                        border: 1px solid #DCDCDC;
                        border-radius: 8px;
                        padding: 0 40px 30px 40px;
                        display: flex;
                        flex-wrap: wrap;
                        box-shadow: 2px 5px 8px 0 rgba(#000, 0.03);
                        @include bgGradient(to left top, rgba($bg, 0.37) 0%,rgba($bg, 0) 100%);
                        @include md() {
                            padding: 0 20px 30px 20px;
                        }
                        .title {
                            color: $text-2;
                            font-weight: 600;
                            margin-top: -22px;
                            margin-left: -20px;
                            margin-bottom: 16px;
                            padding: 0 20px;
                            background-color: #FEFEFE;
                            display: block;
                            @include md() {
                                margin-left: -15px;
                                padding: 0 15px;
                            }
                        }
                        .desc {
                            width: 100%;
                            color: $text-3;
                            ul, ol {
                                list-style: none; 
                                position: relative;
                                margin: 0;
                                padding-left: 0;
                                padding-left: 28px;
                                display: flex;
                                flex-direction: column;
                                gap: 16px;
                                li {
                                    position: relative;
                                    text-indent: 0;
                                    text-indent: -25px;
                                    line-height: 1.8;
                                    &::before {
                                        content: '';
                                        color: $primary; 
                                        font-size: 1em;
                                        
                                    }
                                }
                            }
                            ul {
                                li::before {
                                    font-size: 2em;
                                    width: 8px;
                                    height: 8px;
                                    display: inline-block;
                                    border-radius: 100%;
                                    background-color: $primary;
                                    margin-bottom: 3px;
                                    margin-right: 16px;
                                }
                            }
                            
                            ol {
                                counter-reset: custom-counter;
                                li::before {
                                    counter-increment: custom-counter;
                                    content: counter(custom-counter) '.';
                                    font-size: 1em;
                                    margin-right: 5px;
                                    color: $primary;
                                }
                            }
                        }
                    }
                }
                
            }
            .img {
                width: 480px;
                flex-shrink: 0;
                justify-content: center;
                align-items: center;
                // box-shadow: -40px 64px 0px  $accent;
                position: relative;
                @include xl() {
                    width: 45%;
                }
                @include ml() {
                    width: 440px;
                    max-width: calc(100% - 40px);
                }

            }
              
        }
    }

    .checkup-body-parts-single-cont {

    }

    .checkup-body-parts-single-plans {
        background-image: url(../img/plans_bg.jpg);
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        border-top: 1px solid #BEBEBE;
        .cont {
            // padding-top: 0;
            @media (min-width: $xxl) {
                padding-right: 0px;
                padding-left: 0px;
            }
            .title {
                font-weight: 600;
                color: $text-2;
                margin-bottom: 40px;
                padding: 0 40px;
                @include md() {
                    padding: 0 24px;
                }
            }
            .list {
                .plan {
                    .title {
                        padding-left: 0;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    
    
}

.single-checkup-body-parts-footer {
    > .e-con-inner > .elementor-element {
        @media (min-width: $xxl) {
            padding-right: 0px;
        }
    }
}


