$primary: #79895F;
// $primary-light: #87CAAC;
// $primary-dark: #11998E;
$second: #D0917F;
$accent: #DFCEB4;
$text: #595757;
$text-2: #1a1a1a;
$text-3: #434343;
$text-4: #4B4B4B;
// $text-w: #FEFEFE;
// $bg: #F5F5F5;